* {
  box-sizing: border-box;
  color: #333;
}

header {
  background-color: #dd7bfd;
  font-family: Tahoma, Geneva, Verdana, Arial, sans-serif;
  font-size: x-large;
  font-weight: bold;
}

body {
  background-color: #ccffff;
  margin: 0;
  font-family: Tahoma, Geneva, Verdana, Arial, sans-serif;
}

form {
  background-color: #29b4f5;
  margin: 25;
  font-family: Tahoma, Geneva, Verdana, Arial, sans-serif;
}

